reference/
build/
out/
.cache/
.vscode/
.idea/
*.user
*.swp
*.mp3
*.wav
*.srt
.claude
.cache
build-tsan/
build-fuzz/
build-debug/
build-coverage/
build-static-test/
build-cfl/
build-sani-cfl/
CLAUDE.md
build-sani/
cmake-build-*/
*.bin
*.tmp
compile_commands.json
